<ul>
    <li v-for="dashboard in dashboards">
        <i class="glyphicon" v-bind:class="{'glyphicon-share': isShareDashboard(dashboard), 'glyphicon-user': !isShareDashboard(dashboard)}"></i>
        <a href="#" v-bind:class="{'current-dashboard': isCurrent(dashboard.id)}" @click="dashboardList_OnChange(dashboard.id)">{{dashboard.name}}</a>
    </li>
    <li class="add-db" v-show="isShowNewDashboard">
        <a href="#" @click="dashboardList_OnChange(-1)">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 1024 1024" viewBox="0 0 1024 1024" x="0px" y="0px" width="1024px" height="1024px" xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:space="preserve" version="1.1">
                <path class="svgpath" fill="#337AB7" d="M 512.949 31.3756 c -264.688 0 -480.044 215.325 -480.044 480.044 s 215.356 480.044 480.044 480.044 c 264.719 0 480.08 -215.289 480.08 -480.007 C 993.029 246.732 777.668 31.3756 512.949 31.3756 Z M 512.949 905.862 c -217.483 0 -394.408 -176.922 -394.408 -394.407 c 0 -217.52 176.924 -394.444 394.408 -394.444 s 394.444 176.924 394.444 394.444 C 907.392 728.94 730.432 905.862 512.949 905.862 Z" data-index="path_0"></path>
                <path class="svgpath" fill="#337AB7" d="M 732.078 463.5 L 560.837 463.5 L 560.837 292.294 c 0 -26.4791 -21.3411 -47.9245 -47.8887 -47.9245 c -26.4105 0 -47.8518 21.4454 -47.8518 47.9245 l 0 171.206 L 293.824 463.5 c -26.4791 0 -47.9562 21.4403 -47.9562 47.9194 c 0 26.4105 21.4771 47.9562 47.9562 47.9562 L 465.097 559.376 l 0 171.137 c 0 26.4126 21.4413 47.992 47.8518 47.992 c 26.5149 0 47.8887 -21.5805 47.8887 -47.992 L 560.837 559.376 l 171.241 0 c 26.5108 0 48.0248 -21.5079 47.989 -47.9562 C 780.066 484.94 758.589 463.5 732.078 463.5 Z" data-index="path_1"></path>
            </svg>
        </a>
    </li>
</ul>