<section class="main-right">
    <div class="toolbar" v-if="isShowDashboardEditStep">
        <dashboard-edit-step v-show="isShowDashboardEditStep"></dashboard-edit-step>
        <dashboard-edit-operate v-show="isShowDashboardEditStep"></dashboard-edit-operate>
    </div>
    <div class="main-edit">
        <component v-bind:is="currentView" v-bind:pass-dashboard="dashboardObjTemp" v-bind:pass-options="options"></component>
    </div>
    <modal v-bind:is-show="isShowModal" v-bind:width="'400px'">
        <component v-bind:is="loadModalComponentName"
                   v-bind:temp-group="tempGroup"
                   slot="modalContainer">            
        </component>
    </modal>
</section>