<nav class="header">
    <dashboard-product></dashboard-product>
    <div class="header-bar">
        <dashboard-group></dashboard-group>
        <ul class="header-right">
            <li class="user-info">
                <user-info></user-info>
            </li>
            <li>
                <button type="button" class="btn btn-default btn-sm" @click="createNewGroup">新建仪表盘组</button>
            </li>
            <li>
                <button type="button" class="btn btn-default btn-sm" @click="configureCurrentDashboard">配置仪表盘</button>
            </li>
            <li>
                <edit-menu></edit-menu>
            </li>
            <li>
                <quit></quit>
            </li>
        </ul>
    </div>
</nav>