<div>
    <style type="text/css">
        .modal-dialog {
            height: 90%;
        }

        .modal-dialog .modal-content {
            top: 25%;
        }

        .modal-dialog .modal-content .form-control {
            width: auto;
            display: inline-block;
        }

        .modal-mask {
            position: absolute;
            z-index: 999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .5);
            display: table;
            transition: opacity .3s ease;
        }

        .modal-wrapper {
            display: table-cell;
            vertical-align: middle;
        }

        .modal-container {
            margin: 0px auto;
            /*padding: 20px 30px;*/
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
            transition: all .3s ease;
            font-family: Helvetica, Arial, sans-serif;
        }

        .modal-header {
            padding: 6px;
        }

        .modal-header .modal-title {
            font-size: 15px;
            font-weight: bold;
        }

        .modal-body {
            font-size: 14px;
        }

        .modal-footer {
            text-align: center;
        }

        /*下面的css是vuejs的动画效果*/
        .modal-enter, .modal-leave {
            opacity: 0;
        }

        .modal-enter .modal-container, .modal-leave .modal-container {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    </style>

    <div class="modal-mask" v-show="isShow" transition="modal">
        <div class="modal-wrapper">
            <div class="modal-container" v-bind:style="{'width': width}">
                <slot name="modalContainer"></slot>
            </div>
        </div>
    </div>
</div>