﻿<li>
    <div v-bind:class="{bold: isFolder}" v-on:click="toggle">
        <span v-if="isFolder">{{open ? '▼' : '►'}}</span>
        <span v-else>&ensp;</span>
        <span v-bind:class="{canDragTreeItem: !isFolder}" key="{{treeData.key}}">{{treeData.name}}</span>
    </div>
    <ul v-show="open" v-if="isFolder">
        <tree-item class="tree-item"
                   v-for="treeData in treeData.children"
                   v-bind:tree-data="treeData">
        </tree-item>
    </ul>
</li>