<div>
    <div class="modal-header">
        <div class="col-sm-10">图表配置</div>
        <div class="col-sm-2">
            <button type="button" class="close" aria-label="Close" @click="closeWidgetConfigure">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div>
            <ul class="nav nav-tabs">
                <li role="presentation" v-for="tab in tabs" v-bind:class="{'active': isCurrentTab($index)}">
                    <a href="#" @click="switchTab($index)">{{tab.name}}</a>
                </li>
            </ul>
        </div>
        <component v-bind:is="loadModalComponentName" v-bind:temp-widget="passWidget" v-bind:current-select-dim-and-ind="currentSelectDimAndInd"></component>
    </div>    
</div>