﻿<div class="role-manage">
    <style type="text/css">
        .hideInput {
            height: 0;
            line-height: 0;
            padding: 0;
            border: 0;
        }

        .role-list span{
            cursor: pointer;
        }

        .role-list .current-role {
            background: yellowgreen;
            cursor: default;
        }
    </style>
    <div class="col-md-6">
        <div>
            <span class="col-sm-2"></span>
            <span class="title col-sm-4">角色</span>
            <span class="col-sm-6">
                <button type="button" class="btn btn-default btn-sm" @click="addRole">新增角色</button>
                <button type="button" class="btn btn-default btn-sm" @click="delRole">删除角色</button>
            </span>
        </div>
        <div>
            <ul>
                <li v-for="role in roles" value="{{role.id}}" class="role-list">

                    <!--
                        如果用show来隐藏input，当selected后，Vuejs绑定的dblclick事件先执行，
                        在事件中让input获取焦点，但此时input并没有显示出来，focus方法执行无效
                        所以采用将input的所有与高度有关style的都设置为0，这样focus方法执行就会有效了
                    -->
                    <input type="text" class="input-sm form-control" id="{{'role_' + role.id}}"
                           v-bind:class="{'hideInput': !role.isSelected}"
                           v-model="role.name" @keyup.enter="inputRoleName_OnKeyUp(role)"
                           v-on:blur="changeRoleStatus(role, 'update')" />

                    <!--因为span里面有文本内容，将与高度有关style的都设置为0是无效的，所以采用了显示与隐藏的方案-->
                    <span v-bind:style="{display: role.isSelected ? 'none' : ''}" v-bind:class="{'current-role': role.isCurrent}"
                          @click="selectOneRole(role)" v-on:dblclick="changeRoleStatus(role)">
                        {{role.name}}
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <span class="col-sm-2">
                <!--<input type="checkbox" v-model="" />-->
            </span>
            <span class="title col-sm-8">权限</span>
            <span class="col-sm-2">
                <button type="button" class="btn btn-default btn-sm" @click="save">保存</button>
            </span>
        </div>
        <div>
            <ul>
                <li v-for="permission in permissions">
                    <span class="">
                        <input type="checkbox" value="{{permission.id}}" v-bind:checked="isSelectAllPermission" v-model="permission.isSelected" />
                    </span>
                    <span>{{permission.name}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>