﻿<div class="user-manage">
    <style type="text/css">
        .user-manage .search-bar {
            padding: 15px 0;
            height: 60px;
        }
    </style>
    <div class="search-bar">
        <div class="col-md-3">
            <input class="input-sm form-control" placeholder="请输入账户名称" v-model="inputSearchKey" @keyup.enter="searchUser" />
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-primary btn-sm" @click="searchUser">搜索</button>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-sm" @click="save">保存</button>
        </div>
    </div>

    <div class="">
        <table class="table">
            <tr>
                <th>
                    <!--<input type="checkbox" v-model="isSelectCurrentPageAllUser"/>-->
                </th>
                <th>
                    <span>账户名称</span>
                </th>
                <th>
                    <span>角色类型</span>
                </th>
                <th>
                    <span>分配账户</span>
                </th>
                <th>
                    <span>分配日期</span>
                </th>
            </tr>
            <tr v-for="user in currentPageDatas">
                <th>
                    <input type="checkbox" v-bind:checked="isSelectCurrentPageAllUser" v-model="user.isSelected"/>
                </th>
                <th>
                    {{user.email}}
                </th>
                <th>
                    <span v-if="user.isSelected || isSelectCurrentPageAllUser">
                        <select class="select-group" v-model="user.role.id" @change="user.role.status = 'update'">
                            <option v-for="(roleId, roleName) in roles" value="{{roleId}}">{{roleName}}</option>
                        </select>
                    </span>
                    <span v-else>{{user.role.name}}</span>                    
                </th>
                <th>
                    {{user.grantorName}}
                </th>
                <th>
                    {{formatToDateString(user.grantTime)}}
                </th>
            </tr>
        </table>

        <paging v-bind:effect-datas="users" v-bind:current-page-datas.sync="currentPageDatas"></paging>
    </div>
</div>