<div>
    <modal :is-show="true" :width="'400px'">
        <component :is="loadModalComponentName"
                   :temp-group="tempGroup"
                   :temp-dashboard="passDashboard"
                   slot="modalContainer"></component>
    </modal>
</div>