<div class="fullHeight fullWidth" style="display: flex">
    <div class="widget-list">
        <!--<div class="widget-block clearfix">
            <div class="title-mod">
                <h3>过滤器</h3>
                <a href="javascript:void(0);" class="glyphicon glyphicon-menu-down"></a>
            </div>
            <ul>
                <li><img src="img/cocacola.png" width="90" height="60" alt=""></li>
                <li><img src="img/cocacola.png" width="90" height="60" alt=""></li>
            </ul>
        </div>-->
        <div class="widget-block clearfix">
            <div class="title-mod">
                <h3>图表</h3>
                <a href="javascript:void(0);" class="glyphicon glyphicon-menu-down"></a>
            </div>
            <ul class="availableWidget">
                <li v-for="widget in availableWidgetList">
                    <img width="90" height="60" v-bind:src="getImgSrc(widget)" alt="{{widget.name}}" title="{{widget.name}}">
                </li>
            </ul>
        </div>
    </div>
    <div class="draw-board" style="display: flex">
        <grid-stack v-bind:widgets="widgets" v-bind:drop-down="widgetDropDown"></grid-stack>
    </div>

    <modal v-bind:is-show="isShowModal" v-bind:width="'80%'">
        <widget-configure slot="modalContainer"></widget-configure>
    </modal>
</div>