﻿<div>
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="group-name" class="control-label col-sm-4" style="padding-right: 10px;">
                    仪表盘分组
                </label>
                <div class="btn-group col-sm-6" id="group-name" style="padding-left: 0;">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle dropdown-button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="left">
                            {{groupName}}
                        </span>
                        <span class="right">
                            <span class="caret"></span>
                        </span>
                    </button>
                    <ul class="dropdown-menu group-list" v-if="groups.length > 0">
                        <li v-for="group in groups" track-by="id">
                            <a href="#" @click="groupList_OnChange(group)">{{group.name}}</a>
                        </li>
                    </ul>
                </div>
                <!--<button type="button" class="btn btn-primary col-sm-2" v-if="!isDisableChangeGroup"
                        @click="groupList_OnChange(0)">新建
                </button>-->
            </div>
            <div class="form-group">
                <label for="dashboardName-text" class="control-label col-sm-4" style="padding-right: 10px;">
                    仪表盘名称
                </label>
                <div class="col-sm-6" style="padding-left: 0;">
                    <input type="text" id="dashboardName-text" class="input-sm form-control"
                           v-bind:class="{'has-error': warnMessage.length > 0}" v-model="tempDashboard.name"/>
                    {{warnMessage}}
                </div>
            </div>
            <div class="form-control">
                <label class="radio-inline">
                    <input type="radio" name="dashboardCopyAction" value="copy" v-model="dashboardCopyAction">复制
                </label>
                <label class="radio-inline">
                    <input type="radio" name="dashboardCopyAction" value="move" v-model="dashboardCopyAction">移动
                </label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" @click="save"
                style="padding-left: 15px; padding-right: 15px;margin-right: 10px;">
            确定
        </button>
        <button type="button" class="btn btn-default btn-sm" @click="cancel"
                style="padding-left: 15px; padding-right: 15px;margin-left: 10px;">
            取消
        </button>
    </div>
</div>