﻿<form class="form-horizontal">
    <style type="text/css">
        .canDropAccount {
            min-height: 100px;
        }
    </style>

    <div class="form-group">
        <label for="SEMD_media" class="col-sm-3 control-label">选择媒体</label>
        <div class="col-sm-9">
            <select class="form-control" id="SEMD_media" v-model="selectMedia">
                <option v-for="media in medias" value="{{media.value}}">{{media.name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="SEMD_accountType" class="col-sm-3 control-label">选择账户</label>
        <div class="col-sm-9">
            <span v-for="accountType in accountTypes">
                <input type="radio" id="SEMD_accountType" name="accountType" @change="accountType_onChange"
                       value="{{accountType.value}}" v-model="selectOption.GroupType" />
                {{accountType.name}}
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <ul v-if="convertMediaNameToRequestParamId() === 1">
                <li v-for="account in accounts">
                    <span v-bind:key="account.key" class="canDragAccountItem">{{account.name}}</span>
                </li>
            </ul>
            <tree-item v-else class="tree-item" v-bind:tree-data="accounts"></tree-item>
        </div>
        <div class="col-sm-6 canDropAccount">
            <ul>
                <li v-for="(key, name) in selectAccounts">
                    {{name}}
                    <button type="button" class="close col-xs-2" aria-label="Close" style="float: none;"
                            @click="deleteSelectAccount(key)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label for="SEMD_queryType" class="col-sm-3 control-label">报表类型</label>
        <div class="col-sm-9">
            <select class="form-control" id="SEMD_queryType" v-model="selectQueryType">
                <option v-for="queryType in queryTypes" value="{{queryType.value}}" v-show="queryType.visible !== false">{{queryType.name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="SEMD_deviceType" class="col-sm-3 control-label">设备类型</label>
        <div class="col-sm-9">
            <select class="form-control" id="SEMD_deviceType" @change="deviceType_onChange"
                    v-model="selectDeviceType" v-bind:disabled="!isEnableSelect.DeviceType">
                <option v-for="deviceType in deviceTypes" value="{{deviceType.value}}">{{deviceType.name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="SEMD_isIncludeDelete" class="col-sm-3 control-label">是否包含删除</label>
        <div class="col-sm-9">
            <select class="form-control" id="SEMD_isIncludeDelete" v-model="selectOption.IsDeleted">
                <option v-for="isIncludeDelete in isIncludeDeletes" value="{{isIncludeDelete.value}}">{{isIncludeDelete.name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="SEMD_dateTimeSeriesType" class="col-sm-3 control-label">时间粒度</label>
        <div class="col-sm-9">
            <select class="form-control" id="SEMD_dateTimeSeriesType" @change="dateTimeSeriesType_onChange"
                    v-model="selectDateTimeSeriesType" v-bind:disabled="!isEnableSelect.DateTimeSeriesType">
                <option v-for="dateTimeSeriesType in dateTimeSeriesTypes" value="{{dateTimeSeriesType.value}}">{{dateTimeSeriesType.name}}</option>
            </select>
        </div>
    </div>
</form>