<div class="datasource-configure">
    <style type="text/css">
        
    </style>

    <div class="row">
        <div :class="{'col-md-2': apiTypeDetailCompName.length > 0, 'col-md-6': apiTypeDetailCompName.length === 0}">
            <ul class="product-list">
                <li v-for="product in products" @click="product_onChange($key)">
                    <a href="#" :class="{'current': isCurrent('product', $key)}">{{product.name}}</a>
                </li>
            </ul>
        </div>
        <div :class="{'col-md-5': apiTypeDetailCompName.length > 0, 'col-md-6': apiTypeDetailCompName.length === 0}">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="solution" class="col-sm-3 control-label">解决方案</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="solution" v-model="selectSolution">
                            <option v-for="solution in solutions | orderBy 'name'" value="{{$key}}">{{solution.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="profile" class="col-sm-3 control-label">配置文件</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="profile" v-model="selectProfile">
                            <option v-for="profile in profiles" value="{{$key}}">{{profile.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="api" class="col-sm-3 control-label">报表类型</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="api" v-model="selectApiType">
                            <option v-for="apiType in apiTypes" value="{{$key}}">{{apiType.name}}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-5" v-if="apiTypeDetailCompName.length > 0">
            <component :is="apiTypeDetailCompName" :temp-widget="tempWidget"></component>            
        </div>
    </div>
    <!--<div class="row">
        <button type="button" class="btn btn-default" @click="nextStep">确定</button>
        <button type="button" class="btn btn-default" @click="cancel">取消</button>
    </div>-->
</div>