﻿<form class="form-horizontal">
    <div class="form-group">
        <label for="timesize" class="col-sm-3 control-label">时间粒度</label>
        <div class="col-sm-9">
            <select class="form-control" id="timesize" v-model="selectTimeSize">
                <option v-for="timesize in timesizes" value="{{timesize.value}}">{{timesize.name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="distinctBy" class="col-sm-3 control-label">去重设置</label>
        <div class="col-sm-9">
            <select class="form-control" id="distinctBy" v-model="selectDistinctBy">
                <option v-for="distinctField in distinctFields" value="{{distinctField.value}}">{{distinctField.name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="frequencyLimit" class="col-sm-3 control-label">频次设置</label>
        <div class="col-sm-9 form-inline">
            <div class="radio">
                <label>
                    <input type="radio" name="frequencyLimit" id="frequencyLimit" value="false" v-model="isNonFrequencyLimit">
                    最高频次
                </label>
                <label class="sr-only" for="frequencyLimitValue"></label>
                <input type="text" class="form-control" id="frequencyLimitValue" style="max-width: 158px" v-model="setFrequencyLimit">
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="frequencyLimit" id="nonFrequencyLimit" value="true" v-model="isNonFrequencyLimit">
                    无频次上限
                </label>
            </div>
        </div>
    </div>
</form>