﻿<div>
    <style type="text/css">
        .selectable-item {
            height: 400px;
            overflow-x: hidden;
            overflow-y: scroll;
            background-color: white;
        }

        .selectable-item ul {
            padding-left: 10px;
        }

            .selectable-item .tree-item {
                cursor: pointer;
                padding-left: 10px;
            }

        .selected-row, .selected-col, .selected-filter, .selected-orderBy {
            height: 70px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: silver;
        }

        .selected-row {
            height: 30px;
        }

        .selected-row>span, .selected-col>span {
            float: left;
        }

        .selected-row .close, .selected-col .close {
            float: none;
        }
    </style>
    <div class="row">
        <div class="col-sm-4 selectable-item">
            <ul>
                <tree-item class="tree-item" v-bind:tree-data="dimensions"></tree-item>
            </ul>
        </div>
        <div class="col-sm-4 selectable-item">
            <ul>
                <tree-item class="tree-item" v-bind:tree-data="indicators"></tree-item>
            </ul>
        </div>
        <div class="col-sm-4">
            <form>
                <div class="form-group" style="margin-bottom: 5px">  <!--v-if="!isNonRectangular"-->
                    <label>行</label>
                    <div class="selected-row">
                        <span v-for="dimension in selectDimension" v-bind:key="dimension.key">{{dimension.name}}
                            <button type="button" class="close" aria-label="Close" @click="deleteSelectItem('selectDimension', $index)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 5px">
                    <label>列：</label>
                    <div class="selected-col">
                        <span v-for="indicator in selectIndicator" v-bind:key="indicator.key">
                            {{indicator.name}}
                            <button type="button" class="close" aria-label="Close" @click="deleteSelectItem('selectIndicator', $index)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 5px">
                    <label>过滤：</label>
                    <div class="selected-filter">
                        <div class="row" v-for="filter in selectFilterCondition">
                            <div class="col-xs-4" style="white-space: nowrap" key="{{filter.key}}" title="{{filter.name}}">{{filter.name}}</div>
                            <select class="col-xs-3" style="height: 20px" v-model="filter.type">
                                <option value="Equal">等于</option>
                                <option value="In">包含</option>
                                <option value="NotEqual">不等于</option>
                                <option value="GreaterThan">大于</option>
                                <option value="GreaterEqualThan">大于等于</option>
                                <option value="LessThan">小于</option>
                                <option value="LessEqualThan">小于等于</option>
                            </select>
                            <input type="text" class="col-xs-4" style="height: 20px" v-model="filter.value"/>
                            <button type="button" class="close" aria-label="Close"  style="float: none;"
                                    @click="deleteSelectItem('selectFilterCondition', $index)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>排序：</label>
                    <div class="selected-orderBy">
                        <div class="row" v-for="orderBy in selectOrderBy">
                            <div class="col-xs-3" style="white-space: nowrap" key="{{orderBy.key}}" title="{{orderBy.name}}">{{orderBy.name}}</div>
                            <select class="col-xs-4" style="height: 20px" v-model="orderBy.direction">
                                <option value="0">升序</option>
                                <option value="1">降序</option>
                            </select>
                            <button type="button" class="close col-xs-2" aria-label="Close" style="float: none;"
                                    @click="deleteSelectItem('selectFilterCondition', $index)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 5px">
                    <input class="form-control" type="text" v-model="selectTopCount" placeholder="要显示的记录数(不填则表示全部数据)" />
                </div>
            </form>
        </div>
    </div>
</div>