﻿<nav>
    <!--<span>
        每页显示：
        <select class="form-control" v-model="pageSize">
            <option value="10">10</option>
            <option value="10">15</option>
            <option value="10">20</option>
        </select>条
    </span>-->
    <ul class="pagination">
        <li v-if="pageIndex > 0" @onclick="turnToPage(pageIndex - 1)">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li v-for="page in pages" track-by="$index" @click="turnToPage($index)"
            v-bind:class="{active: $index === pageIndex}">
            <a href="#">{{$index+1}}</a>
        </li>
        <li v-if="pageIndex < pageCount - 1" @onclick="turnToPage(pageIndex + 1)">
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>