<div class="btn-group" style="min-width: 160px;">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle dropdown-button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        <span class="left">
            {{name}}
        </span>
        <span class="right">
            <span class="caret"></span>
        </span> 
    </button>
    <!--<button type="button" class="btn btn-default btn-sm" style="text-align: left;">{{name}}</button>
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
    </button>-->
    <ul class="dropdown-menu group-list" v-if="groups.length > 0">
        <li v-for="group in groups">
            <a href="#" @click="groupList_OnChange(group.id)">{{group.name}}</a>
        </li>
    </ul>
</div>