<div class="btn-group" v-if="isShowConfigureMenu">    
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        配置 <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <!--<li>
            <a href="#" @click="switchAction(1)" v-if="isShowMenuItem(1)">配置当前仪表盘</a>
        </li>-->
        <li>
            <a href="#" @click="switchAction(2)" v-if="isShowMenuItem(2)">新建仪表盘</a>
        </li>
        <li>
            <a href="#" @click="switchAction(3)" v-if="isShowMenuItem(3)">共享仪表盘</a>
        </li>
        <li>
            <a href="#" @click="switchAction(4)" v-if="isShowMenuItem(4)">管理中心</a>
        </li>
    </ul>
</div>