﻿<div>
    <style>
        .grid-stack-item-content .widgetContent {
            /*因为echarts会自动给widgetContent增加position，20px是留给标题栏的高度*/
            
            height: calc(100% - 20px);
            
        }
    </style>
    <div class="widgetTop">
        <div class="col-sm-8">{{title}}</div>
        <div class="col-sm-4" v-show="isShowConfigure">
            <a href="#" @click="openWidgetConfigure">配置</a>
            <button type="button" class="close" aria-label="Close" @click="deleteWidget">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="widgetContent">
    </div>
</div>