﻿<div v-bind:class="{'is-no-border': !isShowConfigure}">
    <input type="text" name="daterangepicker" style="border: solid 1px aquamarine"/>
    <button type="button" class="close" aria-label="Close" @click="deleteWidget" v-show="isShowConfigure">
        <span aria-hidden="true">&times;</span>
    </button>
</div>