﻿html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

.fullHeight {
    flex: 1;
}

.dropdown-button {
    width: 100%;
}

    .dropdown-button .left {
        float: left;
    }

    .dropdown-button .right {
        float: right;
    }

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

.clearPadding {
    padding: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.header {
    display: flex;
    flex-grow: 0;
    height: 40px;
}

    .header h1 {
        flex: none;
        width: 185px;
        padding: 8px 8px 8px 8px;
        margin: 0;
        background-color: #1B79D0;
        font-size: 24px;
        font-style: italic;
    }

        .header h1 a {
            color: #fff;
        }

        .header h1 i {
            font-size: 12px;
            padding-left: 15px;
            vertical-align: middle;
        }

    .header .header-bar {
        flex: 1;
        display: flex;
        align-self: center;
        align-items: center;
        margin: 5px 0;
        padding: 5px 10px;
        padding-right: 5px;
        border-bottom: 1px solid #e2e2e2;
    }

        .header .header-bar .select-group {
            flex-grow: 0;
            padding-left: 15px;
        }

        .header .header-bar .header-right {
            align-self: flex-end;
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            margin: 0;
        }

            .header .header-bar .header-right li {
                margin-right: 6px;
            }

            .header .header-bar .header-right .user-info {
                padding-right: 30px;
            }

.main {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: calc(100% - 40px);
}

    .main .main-left {
        flex: none;
        width: 185px;
        background: #152C3E;
    }

        .main .main-left .logo {
            width: 100%;
            height: 100%;
        }

        .main .main-left .dashboard-list {
            border-top: 1px solid #3e3e3e;
            width: 100%;
        }

            .main .main-left .dashboard-list ul {
                margin: 0;
                padding: 15px 10px;
                border-bottom: 1px solid #3e3e3e;
            }

                .main .main-left .dashboard-list ul li {
                    margin-top: 10px;
                }

                    .main .main-left .dashboard-list ul li i {
                        color: #fff;
                        display: inline-block;
                        margin-right: 12px;
                        width: 12px;
                    }

                    .main .main-left .dashboard-list ul li a {
                        color: #bebebe;
                        font-size: 16px;
                    }

                        .main .main-left .dashboard-list ul li a.current-dashboard {
                            color: white;
                        }

                .main .main-left .dashboard-list ul .add-db {
                    color: #337AB7;
                    height: 22px;
                }

                    .main .main-left .dashboard-list ul .add-db a {
                        display: block;
                        padding-left: 40px;
                    }

                        .main .main-left .dashboard-list ul .add-db a svg {
                            color: #fff;
                            height: 22px;
                            width: 20px;
                            line-height: 22px;
                        }

    .main .main-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: #FAFAFA;
    }

        .main .main-right .toolbar {
            flex: none;
            height: 40px;
            padding: 10px;
        }

            .main .main-right .toolbar button {
                border-color: #337AB7;
            }

                .main .main-right .toolbar button:active, .main .main-right .toolbar button:visited, .main .main-right .toolbar button:focus {
                    color: #fff;
                    background: #337AB7;
                }

        .main .main-right .main-edit {
            flex: 1;
            display: flex;
            width: 100%;
            height: calc(100% - 40px);
        }

            .main .main-right .main-edit .widget-list {
                flex: none;
                width: 200px;
                border: 1px solid #e2e2e2;
                margin: 0 0 0 10px;
            }

            .main .main-right .main-edit .widget-block {
                width: 100%;
                padding-bottom: 5px;
                border-bottom: 1px solid #e2e2e2;
            }

                .main .main-right .main-edit .widget-block .title-mod {
                    display: flex;
                    justify-content: space-between;
                }

                    .main .main-right .main-edit .widget-block .title-mod h3 {
                        display: inline-block;
                        font-size: 12px;
                        margin: 0;
                        padding: 5px 5px 5px 10px;
                    }

                    .main .main-right .main-edit .widget-block .title-mod a {
                        width: 12px;
                        height: 12px;
                        margin-right: 20px;
                        background-color: transparent;
                    }

                .main .main-right .main-edit .widget-block .widget-block:last-child {
                    border: none;
                }

                .main .main-right .main-edit .widget-block ul {
                    margin: 0;
                    padding: 0 5px;
                }

                    .main .main-right .main-edit .widget-block ul li {
                        float: left;
                        margin-right: 4px;
                        margin-top: 3px;
                    }

.draw-board {
    flex: 1;
    margin: 0 10px;
    border: 1px solid #e2e2e2;
}
