<div class="pull-right">
    <button type="button" class="btn btn-primary btn-xs" 
            @click="executeSpecifiedAction('save')">保存当前仪表盘</button>
    <button type="button" class="btn btn-primary btn-xs"
            @click="executeSpecifiedAction('delete')">删除当前仪表盘</button>
    <!--<button type="button" class="btn btn-primary btn-xs"
            @click="executeSpecifiedAction('copy')">复制当前仪表盘</button>-->
</div>