﻿<div class="share-manage">
    <style type="text/css">
        .share-manage {
            border: 1px solid #e2e2e2;
            width: 100%;
        }

            .share-manage input[type=checkbox] {
                margin: 0;
                vertical-align: middle;
            }

            .share-manage .largeTitle {
                height: 54px;
                line-height: 54px;
                font-size: 18px;
                font-weight: bold;
                background: white;
                border-bottom: 1px solid #e2e2e2;
            }

            .share-manage .content {
                display: flex;
                margin: 10px 10px;
                margin-bottom: 0;
                background: white;
                border: 1px solid #e2e2e2;
            }

            .share-manage .title {
                line-height: 30px;
                border-bottom: 1px solid #e2e2e2;
                font-weight: bold;
                font-size: 15px;
                padding-left: 15px;
            }

            .share-manage .list li {
                padding: 2px 15px;
                text-align: left;
            }

                .share-manage .list li.current {
                    background: #2a7ccd;                    
                    cursor: default;
                }

                    .share-manage .list li.current a {
                        color: white;
                    }

            .share-manage .scroll {
                overflow-x: hidden;
                overflow-y: auto;
                max-height: 558px;
            }

        .share-manage-dashboard {
            border-left: 1px solid #e2e2e2;
            border-right: 1px solid #e2e2e2;
        }

        .share-manage .one-user {
            line-height: 36px;
        }

            .share-manage .one-user-creator {
                background: #f8f8f8;
                color: #b2b2b2;
            }

            .share-manage .even td {
                background: rgb(242, 247, 248);
            }

            .share-manage .one-user .close {
                float: none;
            }
    </style>

    <div class="largeTitle">
        <div class="col-md-6">共享仪表盘</div>
        <div class="col-md-6" style="text-align: right;">
            <button type="button" class="btn btn-primary btn-sm"
                    v-bind:disabled="isDisableShare" v-show="isShowOperateButton" @click="save">
                确定
            </button>
            <button type="button" class="btn btn-default btn-sm" v-show="isShowOperateButton" @click="cancel">
                取消
            </button>
        </div>
    </div>

    <div class="content">
        <div class="col-md-3 clearPadding">
            <div class="title">仪表盘组</div>
            <div>
                <ul class="list clearPadding">
                    <li v-for="group in groups" v-bind:class="{'current': isCurrent('group', group.id)}">
                        <a href="#" @click="onChange('group', group.id)">
                            {{group.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 clearPadding share-manage-dashboard">
            <div class="title">仪表盘</div>
            <div>
                <ul class="list clearPadding">
                    <li v-for="dashboard in dashboards" v-bind:class="{'current': isCurrent('dashboard', dashboard.id)}">
                        <a href="#" @click="onChange('dashboard', dashboard.id)">
                            {{dashboard.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row title" style="padding-left: 0;">
                <div class="col-sm-1">
                    <!--<input type="checkbox" class="input-sm" v-show="isShowOperateButton"
                           v-model="isSelectAllUser" @click="selectAllUser($event)" />-->
                </div>
                <div class="col-sm-9">共享人邮箱</div>
                <div class="col-sm-2">
                    <span class="glyphicon glyphicon-remove-circle" style="color: #337ab7; cursor: pointer"
                           v-show="isShowOperateButton" @click="delSelectedUser"></span>
                </div>
            </div>
            <div>
                <div class="row one-user" v-show="isShowOperateButton" style="padding-top: 3px;">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-6" v-bind:class="{'has-error': isInputEmailHasError}">
                        <input type="email" class="form-control input-sm" placeholder="Email"/>
                    </div>
                    <div class="col-sm-3">
                        <!--<select class="form-control input-sm" v-model="inputNewUserPermission">
                            <option v-for="sharePermission in sharePermissions" v-bind:value="sharePermission.id">{{sharePermission.name}}</option>
                        </select>-->
                    </div>
                    <div class="col-sm-2">
                        <!--<span class="glyphicon glyphicon-plus-sign" style="color: #337ab7; cursor: pointer"
                              v-bind:disabled="isDisableShare" @click="addUser"></span>-->
                    </div>
                </div>
                <div class="row">
                    <table style="width: 100%">
                        <tr v-for="shareUser in shareUsers" class="row one-user"
                            v-bind:class="{'even': $index % 2 === 1, 'one-user-creator': isCreator(shareUser)}">
                            <td class="col-sm-1">
                                <input type="checkbox" class="input-sm" v-if="!isCreator(shareUser)"
                                       v-bind:value="shareUser.id" v-bind:checked="isSelectAllUser" 
                                       v-model="shareUser.isSelected" @click="selectOneUser(shareUser)" />
                            </td>
                            <td class="col-sm-6">{{shareUser.id}}</td>
                            <td class="col-sm-3">
                                <span class="btn disabled" v-if="isCreator(shareUser)">创建者</span>
                                <select v-else class="btn" v-model="shareUser.permissionId" @change="changeUserPermission(shareUser)">
                                    <option v-for="sharePermission in sharePermissions" v-bind:value="sharePermission.id">{{sharePermission.name}}</option>
                                </select>
                            </td>
                            <td class="col-sm-2">
                                <button type="button" class="close" aria-label="Close"
                                        @click="delUser(shareUser.id)" v-show="!isDisableShare && !isCreator(shareUser)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>