<div class="btn-group btn-group-xs pull-left" role="group" aria-label="...">
    <button type="button" class="btn"
            @click="jumpToSpecifiedStep('base-information')"
            v-bind:class="{
                'btn-primary': currentStep === 'base-information', 
                'btn-default': currentStep !== 'base-information'
            }">基本信息
    </button>
    <button type="button" class="btn btn-default"
            @click="jumpToSpecifiedStep('chart-configure')"
            v-bind:class="{
                'btn-primary': currentStep === 'chart-configure',
                'btn-default': currentStep !== 'chart-configure'
            }">图表配置
    </button>
    <!--<button type="button" class="btn btn-default"
            @click="jumpToSpecifiedStep('interactive-configure')"
            v-bind:class="{
                'btn-primary': currentStep === 'interactive-configure',
                'btn-default': currentStep !== 'interactive-configure'
            }">交互配置</button>
    <button type="button" class="btn btn-default"
            @click="jumpToSpecifiedStep('template-configure')"
            v-bind:class="{
                'btn-primary': currentStep === 'template-configure',
                'btn-default': currentStep !== 'template-configure'
            }">背景配置</button>-->
</div>