﻿<div>
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="groupName-text" class="control-label col-sm-4" style="padding-right: 10px;">
                    分组名称
                </label>
                <div class="col-sm-6" style="padding-left: 0;">
                    <input type="text"  id="groupName-text" class="form-control input-sm"
                           v-bind:class="{'has-error': warnMessage.length > 0}" v-model="tempGroup.name" />
                    {{warnMessage}}
                </div>
            </div>
            <div class="form-group">
                <label for="groupLogoPath-file" class="control-label col-sm-4" style="padding-right: 10px;">
                    &ensp;&ensp;&nbsp;LOGO
                </label>
                <div class="col-sm-6" style="padding-left: 0;">
                    <input type="file" accept="image/*" id="groupLogoPath-file" style="padding: 6px 0" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" @click="saveGroup"
                style="padding-left: 15px; padding-right: 15px;margin-right: 10px;">
            保存
        </button>
        <button type="button" class="btn btn-default btn-sm" @click="cancelGroup"
                style="padding-left: 15px; padding-right: 15px;margin-left: 10px;">
            取消
        </button>
    </div>
</div>