﻿<div class="purview-manage">
    <style type="text/css">
        .purview-manage {
            width: 100%;
        }
    </style>
    <ul id="myTabs" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#userManageModule" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">用户管理</a>
        </li>
        <li role="presentation" class="">
            <a href="#roleManageModule" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">角色管理</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="userManageModule" aria-labelledby="home-tab">
            <user-manage></user-manage>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="roleManageModule" aria-labelledby="profile-tab">
            <role-manage></role-manage>
        </div>
    </div>
</div>