<div id="{{elementId}}" widgetId="{{widget.id}}">
    <component class="grid-stack-item-content"
               :style="gridstackItemContentStyle"
               :is="gridstackItemTypeName"
               :widget="widget"
               :is-show-configure="isShowConfigure"
               :select-filter-item="selectFilterItem">
    </component>
</div>