﻿<div class="fullHeight" style="display: flex;">
    <style type="text/css">        

        .grid-stack-item .is-no-border {
            border: none;
        }

        /*覆盖掉gridstack.css中overflow的定义*/
        .grid-stack > .grid-stack-item > .grid-stack-item-content {
            overflow: hidden;
        }

        .grid-stack-item-content {
            border: solid 1px black;
            height: 100%;
        }

            .grid-stack-item-content .widgetTop {
                background: #aeaeae;
                height: 20px;
            }

            .grid-stack-item-content .widgetContent {
                /*margin-top: -20px;
                padding-top: 20px;*/
                /*gridstack里每个item-content固定样式*/
                -webkit-tap-highlight-color: transparent;
                -webkit-user-select: none;
                background-color: transparent;
            }

        .waitAddGridstackItem {
            display: none;
        }
    </style>
    <div class="grid-stack fullHeight"></div>
    <div class="waitAddGridstackItem">
        <grid-stack-item v-for="widget in widgets"
                         v-bind:widget="widget"
                         v-bind:gridstack-obj="gridstackObj"
                         v-bind:gridstack-config="config"
                         v-bind:is-show-configure="isShowConfigure"
                         v-bind:select-filter-item="selectFilterItem">
        </grid-stack-item>
    </div>
</div>